@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 2px solid tomato; */
}
.container{
    margin: 0 auto;
    width: 1440px;
    height: 1139px;
    position: relative;
}
.box{
    width: 600px;
    height: 355px;
    background: none;
    position: absolute;
    top: 40px;
    left: 450px;

    h1{
        font-family: "Montserrat-ExtraBold";
        font-size: 60px;
        text-align: center; 
    }

    p{
        font-family: "Montserrat-Regular";
        font-size: 25px;
        margin-top: 20px;
        text-align: center;}
}


.box button{
    background-color: black;
    border-style: none;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    color: white;
    font-family: "Montserrat-Medium";
    font-size: 12px;
    position: relative;
    margin-top: 20px;
    margin-left: 220px;
}

.imagesGroup{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 20px;
    top: 400px;
    margin-left: 60px;
    margin-right: 40px;
}

.imagesGroup2{
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 20px;
    top: 420px;
    margin-left: 60px;
    margin-right: 40px;
}

.images div img{
    width: 100%;
    position: relative;
    margin-right: 25px;
    left: 225px;
}