:root{
    --color-1: white;
    --fuente-heavy: "avenir-heavy";
    --fuente-roman: "avenir-roman";
}

@font-face {
    font-family: "avenir-heavy";
    src: url(../storage/font/AvenirLTStd-Heavy.otf) format(truetype);
}


@font-face {
    font-family: "avenir-roman";
    src: url(../storage/font/AvenirLTStd-Roman.otf) format(truetype);
}