<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-5</title>
    <link rel="stylesheet" href="../css/style_5.css">
</head>
<body>
    <main class="container">
        <article>
            <section class="title">
                <h1>Projects and practice</h1>
            </section>
        </article>
        <article>
            <section class="containerA">
                <h2>01</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <img src="../storage_5/img/1.png" alt="">
            </section>
        </article>
        <article>
            <section class="containerB">
                <h2>02</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <img src="../storage_5/img/2.png" alt="">
            </section>
        </article>
        <article>
            <section class="containerC">
                <h2>03</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget.</p>
                <img src="../storage_5/img/3.png" alt="">
            </section>
        </article>
    </main>
</body>
</html>