<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page6</title>
    <link rel="stylesheet" href="../css/style_6.css">
</head>
<body>
    <main class="Container">
        <section class="logo">
            <div>
                <img src="../storage_6/img/Font circle.png">
            </div>
        </section>
        <section class="info_container">
            <article class="info">
                <h1>THE eWatch with the newest microchip technology</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
                <div class="buttons">
                    <a>Order now</a>
                    <a>Explore more</a>
                </div>
            </article>
            <article class="info02">
                <div class="info2">
                    <div class="info2_1">
                        <img src="../storage_6/img/sunIcon.png">
                        <h4>Lorem ipsu dolor amet</h4>
                    </div>
                    <div class="info2_1">
                        <img src="../storage_6/img/starIcon.png">
                        <h4>Lorem ipsu dolor amet</h4>
                    </div>
                    <div class="info2_1" >
                        <img src="../storage_6/img/viewIcon.png">
                        <h4>Lorem ipsu dolor amet</h4>
                    </div>
                    <div class="info2_1">
                        <img src="../storage_6/img/netIcon.png">
                        <h4>Lorem ipsu dolor amet</h4>
                    </div>
                </div>
            </article>
        </section>
        <section class="image">
            <div>
                <img src="../storage_6/img/Image group.svg">
            </div>
        </section>
    </main>
</body>
</html>