<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-12</title>
    <link rel="stylesheet" href="../css/style_12.css">
</head>
<body>
    <main>
        <section class="container">
            <div class="container1">
                <h1>Discover. <br>
                    Explore. <br>
                    Inspire.</h1>
                <p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit. Faucibus in libero risus semper <br> habitant arcu eget. Et integer facilisi eget diam.</p>
                <a>Explore</a>
            </div>
        </section>
        <section>
            <div class="image_1">
                <img src="../storage_12/img/Image area (1).svg">
            </div>
            <div class="image_2">
                <img src="../storage_12/img/Shapes decor.svg">
            </div>
            <div class="card">
                <img src="../storage_12/img/pfp.png">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu eget. Et integer facilisi eget diam.</p>
            </div>
        </section>
    </main>
</body>
</html>