<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page-8</title>
    <link rel="stylesheet" href="../css/style_8.css">
</head>
<body>
    <main>
        <section>
            <div class="container">
                <div class="images">
                    <img src="../storage_8/img/Hero image.png">
                    <img src="../storage_8/img/pattern.png">
                </div>
                <div class="info">
                    <h1>Take your designs to the next level</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Faucibus in libero risus semper habitant arcu.</p>
                    <a>Explore</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>